<div class="table-paragraph-component">
    <div class="table-paragraph-component__button">
        <button (click)="getDict()" class="btn">Traer datos</button>
    </div>
    <div class="table-paragraph-component__content">
        <div *ngIf="alphabetValues" class="">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Number</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of alphabetValues; index as i">
                        <td>{{i}}</td>
                        <td>{{item}}</td>
                        <td>{{alphabet[item].count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="sum" class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Paragraph</th>
                        <th>Numbers</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sum; index as i">
                        <td>{{i}}</td>
                        <td>{{item.numbers.join(' - ')}}</td>
                        <td>{{item.sum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

</div>