<div class="sidebar-app-component">
    <div class="sidebar-app-component--side">
        <div>
            <a routerLink="/tableform" routerLinkActive="active">Test Array</a>
        </div>
        <div>
            <a routerLink="/paragraph" routerLinkActive="active">Test Paragraph</a>
        </div>
    </div>
</div>