.sidebar-app-component
    width: 200px
    &--side
        position: fixed
        top: 0
        height: 100%
        background-color: #555
        width: 200px
        div
            display: flex
            a
                color: white
                padding: 10px
                text-decoration: none
                width: 100%
                &:hover, &.active
                    background-color: #aaa
                