body
    margin: 0
.btn
    border: 0
    background: #5fa7f1
    padding: 20px
    color: white
    outline: none
    cursor: pointer
    &:hover
        background: #8bbef3

.table
    border-collapse: collapse
    border-spacing: 0
    thead
        th
            border-bottom: 1px solid #aaa
            padding: 10px
            text-align: left
    tbody
        td
            padding: 10px
            text-align: left
    &-tr--green
      background: #b5f7b5
    &-tr--yellow
      background: #fbfda8

.app
    display: flex
    &__content
        width: 100%
