.table-form-component
    margin-left: 20px
    &__table
        margin-top: 20px
    &__table-sort
        margin-top: 20px
        border: 1px solid #aaaaaa
        border-radius: 5px
        width: 500px
        padding: 10px