<div class="table-form-component">
    <div class="table-form-component__button">
        <button (click)="getForm()" class="btn">Traer datos</button>
    </div>
    <div *ngIf="state === 'success'" class="table-form-component__table">
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Number</th>
                    <th>Quantity</th>
                    <th>First position</th>
                    <th>Last position</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.values; index as i" [ngClass]="{'table-tr--green': data.json[item].count >= 2, 'table-tr--yellow' : data.json[item].count == 1}">
                    <td>{{i}}</td>
                    <td>{{item}}</td>
                    <td>{{data.json[item].count}}</td>
                    <td>{{data.json[item].minIndex}}</td>
                    <td>{{data.json[item].maxIndex}}</td>
                </tr>
            </tbody>
        </table>
        <div class="table-form-component__table-sort">
                
                Números: {{data.sort.join(", ")}}
        </div>
    </div>
    <div class="table-form-component__table-sort" *ngIf="state === 'fail'">
        Data error
    </div>
</div>